@import '../../styles/import.scss';

.heading {
  font-family: $font-stack-alt;
  font-weight: $font-heading-bold;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin: 0.6em 0;
  line-height: 1;
}