@import '../../styles/import.scss';

h1.heading {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem;
}

.heading {
  font-weight: 700;
  margin: 0.6em 0;
  line-height: 1;
}