// FONT 
$font-stack: 'Raleway', Helvetica, Arial, sans-serif;
$font-stack-alt: 'Poppins', Helvetica, Arial, sans-serif;
$font-heading-light: 200; // Only for Poppins
$font-heading-bold: 900; // Only for Poppins
$font-body-light: 300;
$font-body-regular: 400;
$font-body-bold: 700;

// Breakpoint
$bp-small: 480px;
$bp-medium: 780px;
$bp-large: 990px;
$bp-xlarge: 1200px;
